
*, *:before, *:after {
  box-sizing: border-box;
}

html {
	height:100%;
    width: 100%;
   background:-webkit-radial-gradient(0% 100%, ellipse cover,
				rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),
				linear-gradient(to bottom, rgba(57,173,219,.25) 0%,
				rgba(42,60,87,.4) 100%),linear-gradient(135deg, 
				#1ab188 0%,#006090 100%);
	overflow-y: scroll; 
}

body {
	margin:0px;
	height:100%;
	width:100%;
	background:-webkit-radial-gradient(0% 100%, ellipse cover,
				rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),
				linear-gradient(to bottom, rgba(57,173,219,.25) 0%,
				rgba(42,60,87,.4) 100%),linear-gradient(135deg, 
				#1ab188 0%,#006090 100%);
}

.dropdownadmin{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

a {
  text-decoration:none;
  color:#1ab188;
  transition:.5s ease;
}
a:hover {
    color:#179b77;
  }

.form {
  background:rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width:90%;
  margin:40px auto;
  border-radius:4px;
  box-shadow:0 4px 10px 4px rgba(#13232f,.3);
}


.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 6px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
  }

.tab-group  li  a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba(#a0b3b0,.25);
    color:#a0b3b0;
    font-size:20px;
    float:left;
    width:33%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    }
    
.tab-group li a:hover {
      background:#374652;
      color:#ffffff;
    }
  
  
.tab-group .active a {
    background:#1ab188;
    color:#ffffff;
  }


.tab-content > div:last-child {
  display:none;
}


h1 {
 
  color:#ffffff;
  font-weight:300;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba(255, 255, 255, 0.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:#1ab188;
  }
}

label.active {
  transform:translateY(-25px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:#ffffff;
}

input, textarea {
  font-size:22px;
  display:block;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0b3b0;
  color:#ffffff;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:#1ab188;
  }
}

textarea {
  border:2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#1ab188;
  color:#ffffff;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:darken(#1ab188,5%);
  }
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(-5px);
  }
}

.bounce1 {
  -moz-animation: bounce1 2s infinite;
  -webkit-animation: bounce1 2s infinite;
  animation: bounce1 3s infinite;
}

@keyframes bounce1 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(5px);
  }
}

